<div class="p-grid p-justify-center">
  <div *ngFor='let score of gamesArray' class="p-col-12 p-md-6 p-lg-3">
    <p-card class = "rounded" [style]="{width: '260px'}" styleClass="ui-card-shadow">
      <p-header class = "p-justify-around colorBg">
        <div style = "text-align: center;" class="colorBg">
          <a>
            <img src="Card" src = '{{score.homeTeamIcon}}' style="width: 6rem; height: 5rem; padding: 1rem;">
          </a>
          <a>
            <img src="Card" src = '{{score.awayTeamIcon}}' style="width: 6rem; height: 5rem; padding: 1rem;">
          </a>
        </div>
      </p-header>
      <p-header>
        <h5 style = "text-align: center;">
          {{score.homeTeamAbbreviation}} -{{score.homeScore}}- {{score.awayTeamAbbreviation}} -{{score.awayScore}}-
        </h5>
      </p-header>
    </p-card>
  </div>
</div>


